/* 页面基础样式 */
#top,#bottom{
    width: 1000px;
    height: 0 auto;
    padding-left: 300px;
}
/* 顶部 */
#top{
    height: 50px;
    line-height: 30px;
    
}
#top img{
    width: 168px;
    border-radius: 10px;
    /* 调整行内块元素左右元素的垂直对齐方式 */
    vertical-align: bottom;
}
#top span{
    font-size: 24px;
    margin-left: 10px;
    color: #4f4e4d;
}
/* 2.主体 */
#mian{
    width: 100%;
    height: 560px;
    background-image: url(../images/regist.jpg);
    background-size: cover;
}
#mian form{
    width: 280px;
    height: 375px;
    float: right;
    margin-top: 120px;
    margin-right: 120px;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
}
#mian .content{
    margin: 10px;
}
.content p{
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
.content p a{
    float: right;
    color: #fff;
    margin-right: 15px;
    margin-top: 3px;
    font-size: 12px;
}
.text{
    position: relative;
}
.text input{
    width: 218px;
    border: 1px solid #ddd;
    padding: 10px 29px; 
    padding-left: 9px;
    margin-top: 15px;
    border-radius: 5px;
}
.text img{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 9px;
    top: 22px;
}
.pwd{
    margin-top: 15px;
    margin-bottom: 15px;
}
.content .check{
   float: right;
}
.content .check input{
    width: 120px;
    padding: 10px;
    margin: 10px;
}
.content #login1{
    margin-top: 90px;
    padding: 0;
    font-size: 12px;
    border: 0;
}
.content #login1 a{
    float: right;
}
.content .submit input{
    width: 100%;
    padding: 10px;
}
#bottom{
    margin-top: 40px;
    position: relative;
}
#bottom #logoImg{
    width: 168px;
    border-radius: 10px;
    /* 调整行内块元素左右元素的垂直对齐方式 */
    vertical-align: bottom;
}
#bottom p{
    color: #4f4e4d;
    width: 600px;
    margin: 0;
}
#bottom .img{
    width: 130px;
    position: absolute;
    top: 0;
    right: 200px;
}
#bottom #fontImg{
    width: 100%;
}
#bottom #imgs{
    width: 130px;
    height: 130px;
}
#bottom .img #imgs img{
    margin-top: 10px;
}
#bttom .imgEr{
    float: right;
}